#app .container {
    height: 60px;
}

.selectbox1 {
    left: 2%;
}

.selectbox2 {
    left: 42%;
}

.leftpanel,
.rightpanel {
    display: inline-block;
    width: 46%;
    vertical-align: top;
}

.leftpanel {
    margin-left: 20px;
    margin-right: 15px;
}

.rightpanel {
    margin-right: 20px;
}

.leftpanel textarea,
.rightpanel textarea {
    min-height: calc(100vh - 174px);
    resize: none;
    font-family: "Segoe UI", Roboto, Helvetica, "Microsoft YaHei", "mplus-1p-regular", Arial, sans-serif;
    padding-right: 8px;
}

.rightpanel textarea {
    border: none;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.popup {
    z-index: 1;
    position: fixed;
    top: 37%;
    left: 37%;
    min-height: 120px;
}
